{% extends 'crm/base.html' %}

{% block content %}

<h1>Record Details</h1>
    <div class="table-responsive ">
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">Zipcode</th>
                    <th scope="col">Created At</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ record.id }}</td>
                    <td>{{ record.first_name }}</td>
                    <td>{{ record.last_name }}</td>
                    <td>{{ record.email }}</td>
                    <td>{{ record.phone }}</td>
                    <td>{{ record.address }}</td>
                    <td>{{ record.city }}</td>
                    <td>{{ record.state }}</td>
                    <td>{{ record.zipcode }}</td>
                    <td>{{ record.created_at }}</td>
                </tr>
            </tbody>
        </table>
    </div>

<a href="{% url 'crm-home' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'crm-home' %}" class="btn btn-danger">Delete</a>

{% endblock %}